<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/angular/angular.min.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <h1><%= title %></h1>
      <form method="post">
        <div class="form-group">
          <textarea name="news" class="form-control" rows="3" placeholder="Newsfeed"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
